{% load static %}
<div class="col col-md-12 border-bottom">
	<div class="row py-2">
		<div class="col offset-1 d-flex flex-wrap stepLabel_bottomline">
			<a class="py-2 mr-5 text-secondary font-weight-bold {{active_countries}}" href="{% url 'regions:countries' %}">Paises</a>
			<a class="py-2 mr-5 text-secondary font-weight-bold {{active_departments}}" href="{% url 'regions:departments' %}">Departamentos</a>
			<a class="py-2 mr-5 text-secondary font-weight-bold {{active_cities}}" href="{% url 'regions:cities' %}">Ciudades</a>
		</div>
	</div>
</div>  